{{>nav}}

<div class="row">
    
    <h1 class="titulo-h1 justify-content-center mt-1 jello-horizontal">Mercado Online</h1>
    <h2 class="titulo-h2 justify-content-center mb-1">El sitio lider de ventas online de Argentina</h2>
    </div>  

<main class="row menu">
    
<div class="row justify-content-around categorias">
  <div class="col-6 col-sm-10"><img src="./img/ventaonline.jpg" class="img-fluid"></div>
</div>

  
  <div class="row justify-content-around mt-3 mb-3">
   {{#each inventario}}
    <div class="col-5 col-sm-3 select-producto m-2 ms-0">
      
      <img src="./img/products/{{url}}" class="col-12 m-1 imagen-producto" alt="...">
      <h5 class="titulo-producto">{{nombre}}</h5>
      <h5 class="titulo-producto">{{estado}}</h5>
      <h6>${{precio}},00</h6>
      <p class="descripcion-produ">{{descripcion}}</p>

      
      </div>
    {{/each}}
  </div>

</main>
    
<footer class="row footer justify-content-center">Buenos Aires, Argentina. Año 2021. <br>Todos los derechos reservados.</footer>

